body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

p {
  margin: 0;
}

.inline {
  display: flex;
}

.justify-content-space-between {
  justify-content: space-between;
}

.v-center {
  align-self: center;
}

.center {
  display: flex;
  justify-content: center;
  align-self: center;
}

.m-5 {
  margin: 5px;
}

.mt-10 {
  margin-top: 10px;
}

.mt-30 {
  margin-top: 30px;
}

.h-center {
  justify-content: center;
}

.p-10 {
  padding: 10px;
}