.text-input {
    border: 1px solid black;
    width: 350px;
    border-radius: 7px;
    padding: 15px 10px;
    background-color: rgb(233, 233, 233);

    input {
        background-color: rgb(233, 233, 233);
        width: 350px;
        border: none;
        outline: none;
        border-bottom: 1px solid black;
    }
}