.resume-field {
    padding: 50px;

    .profile-skill {
        margin: 50px;

        .profile {
            margin-bottom: 50px;
        }
    }

    .education-experience {
        margin: 50px;

        .education {
            margin-bottom: 50px;
        }
    }
}